@model Sistema_de_Gerenciamento_Web.Models.tb_produto
@{
    ViewBag.Title = "Cadastrar Produtos";
    ViewBag.pTitle = "Cadastrar Produtos";
    ViewBag.pageTitle = "Produtos";
    //Layout = "~/Views/Shared/_Layout.cshtml";

    var data = DateTime.Now;

    //var listaFornecedores = ViewData["FornecedoresCadastrados"] as List<tb_registro>;

    //var listaGrupos = ViewData["GruposCadastrados"] as List<tb_grupo>;

    //var listaNomeProduto = TempData["NomeProduto"] as List<string>;

    //var letrasDigitadas = TempData["LetrasDigitadas"] as string;

    var dadosProduto = TempData["DadosProduto"] as tb_produto;

    string valorPrecoProduto = @dadosProduto.pd_preco.ToString().Replace(",", ".");
    string valorCustoProduto = @dadosProduto.pd_custo.ToString().Replace(",", ".");
    string valorEstoqueMinimo = @dadosProduto.pd_estoque_minimo.ToString();
    //string valorFormatado = string.Format("{0:N}", @dadosProduto.pd_preco);
}

@if (TempData["mensagemSucesso"] != null)
{
    <div class="alert alert-success" role="alert">
        @TempData["mensagemSucesso"]
    </div>
}

@if (TempData["mensagemFalha"] != null)
{
    <div class="alert alert-danger" role="alert">
        @TempData["mensagemFalha"]
    </div>
}

<form class="needs-validation form-group" asp-controller="Cadastros" asp-action="CadastrarProduto"
      onsubmit="removerSimboloR$Porcentagem()" method="put" novalidate>

    @*@if (dadosProduto != null)
    {*@
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-header align-items-center d-flex">
                    <h4 class="card-title mb-0 flex-grow-1">Dados Produtos</h4>
                </div>
                <div class="card-body">
                    <div class="live-preview">
                        <div class="row g-3">
                            <div class="col-md-3">
                                <label class="form-label">Código Produto</label>
                                @*<input asp-for="pd_codigo" type="number" class="form-control" id="verificacaoCodigoProduto" value="@dadosProduto.pd_codigo" required>*@

                                @if (dadosProduto.pd_nome != null)
                                {
                                    <input asp-for="pd_codigo" type="number" class="form-control" id="verificacaoCodigoProduto" value="@dadosProduto.pd_codigo">
                                }

                                @*<input asp-for="pd_codigo" type="number" class="form-control" id="verificacaoCodigoProduto" required>*@
                                <span asp-validation-for="pd_codigo" class="text-danger"></span>
                                <div class="invalid-tooltip">
                                    Campo Obrigatório.
                                </div>
                                <div class="alert-info" id="verificacaoCodigoProdutoMensagem" style="position: absolute; background-color: rgba(250,137,107,.9); color: #fff; padding: .25rem .5rem; font-size: .875rem; border-radius: .25rem; pointer-events: none; display: none;">
                                    Código de Produto já cadastrado.
                                </div>
                            </div>
                            <div class="col-md-3">
                                <label class="form-label">Código Barras</label>
                                <input asp-for="pd_codigo_barras" type="text" class="form-control" id="verificacaoCodigoBarras" value="@dadosProduto.pd_codigo_barras">
                                @*<input asp-for="pd_codigo_barras" type="text" class="form-control" id="verificacaoCodigoBarras" required>*@
                                <span asp-validation-for="pd_codigo_barras" class="text-danger"></span>
                                <div class="invalid-tooltip">
                                    Campo Obrigatório.
                                </div>
                                <div class="alert-info" id="verificacaoCodigoBarrasMensagem" style="position: absolute; background-color: rgba(250,137,107,.9); color: #fff; padding: .25rem .5rem; font-size: .875rem; border-radius: .25rem; pointer-events: none; display: none;">
                                    Código de Barras já cadastrado.
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label class="form-label">Finalidade</label>
                                <select asp-for="pd_finalidade" class="form-select">
                                    @*<select asp-for="pd_finalidade" class="form-select" required>*@
                                    <option selected disabled value="">@dadosProduto.pd_finalidade</option>
                                    <option>Venda</option>
                                    <option>Uso/Consumo</option>
                                    <option>Matéria Prima</option>
                                </select>
                                <span asp-validation-for="pd_finalidade" class="text-danger"></span>
                                <div class="invalid-tooltip">
                                    Campo Obrigatório.
                                </div>
                            </div>

                            <div class="col-md-6">
                                <label class="form-label">Nome</label>
                                <input asp-for="pd_nome" type="text" class="form-control" value="@dadosProduto.pd_nome">
                                @*<input asp-for="pd_nome" type="text" class="form-control" required>*@
                                <span asp-validation-for="pd_nome" class="text-danger"></span>
                                <div class="invalid-tooltip">
                                    Campo Obrigatório.
                                </div>
                            </div>

                            <div class="col-md-2">
                                <label class="form-label">Tipo Unidade</label>
                                <input asp-for="pd_tipo_unidade" type="text" class="form-control" placeholder="Ex.: Peça,Un,Kg" value="@dadosProduto.pd_tipo_unidade">
                                @*<input asp-for="pd_tipo_unidade" type="text" class="form-control" placeholder="Ex.: Peça,Un,Kg" required>*@
                                <span asp-validation-for="pd_tipo_unidade" class="text-danger"></span>
                                <div class="invalid-tooltip">
                                    Campo Obrigatório.
                                </div>
                                <div class="alert-info" style="position: absolute; background-color:rgba(250,137,107,.9); color: #fff; padding: .25rem .5rem; font-size: .875rem; border-radius: .25rem; pointer-events: none; display: none;" id="verificacaoEmail2">
                                    E-mail informado inválido.
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label class="form-label">Tipo Produto</label>
                                <select asp-for="pd_tipo_produto" class="form-select">
                                    @*<select asp-for="pd_tipo_produto" class="form-select" required>*@
                                    <option selected disabled value="">@dadosProduto.pd_tipo_produto</option>
                                    <option>Normal</option>
                                    <option>Composição</option>
                                    <option>Grade</option>
                                </select>
                                <span asp-validation-for="pd_tipo_produto" class="text-danger"></span>
                                <div class="invalid-tooltip">
                                    Campo Obrigatório.
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label class="form-label">Custos</label>
                                <input asp-for="pd_custo" type="text" class="form-control" id="formatandoDinheiro1" value="@dadosProduto.pd_custo.ToString().Replace(",", ".");">
                                @*<input asp-for="pd_custo" type="text" class="form-control" id="formatandoDinheiro1" value="@valorCustoProduto">*@
                                <span asp-validation-for="pd_custo" class="text-danger"></span>
                                <div class="invalid-tooltip">
                                    Campo Obrigatório.
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label class="form-label">Margem de Lucro</label>
                                <input type="text" class="form-control" id="campoPorcentagem" name="campoPorcentagem" value="@dadosProduto.pd_margem" placeholder="Digite a porcentagem...">
                                <span asp-validation-for="pd_margem" class="text-danger"></span>
                                <div class="invalid-tooltip">
                                    Campo Obrigatório.
                                </div>
                            </div>

                            <div class="col-md-2">
                                <label class="form-label">Preço Venda</label>
                                <input asp-for="pd_preco" type="text" class="form-control" id="formatandoDinheiro2" value="@valorPrecoProduto" required>
                                <span asp-validation-for="pd_preco" class="text-danger"></span>
                                <div class="invalid-tooltip">
                                    Campo Obrigatório.
                                </div>
                            </div>

                            <div class="col-md-2">
                                <label class="form-label">Estoque Mínimo</label>
                                <input asp-for="pd_estoque_minimo" type="number" class="form-control" placeholder="0" value="@valorEstoqueMinimo">
                                @*<input asp-for="pd_estoque_minimo" type="number" class="form-control" placeholder="0" value="@dadosProduto.pd_estoque_minimo">*@
                                <span asp-validation-for="pd_estoque_minimo" class="text-danger"></span>
                                <div class="invalid-tooltip">
                                    Campo Obrigatório.
                                </div>
                            </div>

                            <div class="col-md-12 position-relative">
                                <label class="form-label">Observações</label>
                                <textarea asp-for="pd_observacoes" class="form-control" value="@dadosProduto.pd_observacoes"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12">
        @*<button class="btn btn-primary" type="submit">Atualizar Dados Produto</button>*@
        <button asp-controller="Cadastros" asp-action="AlterarDadosProduto" class="btn btn-primary" method="Put" type="submit">Atualizar Dados Produto2</button>
    </div>

    <br />
    @*}*@

</form>
</>
@section scripts{
    <!-- prismjs plugin -->
    <script src="~/assets/libs/prismjs/prism.js"></script>
    <script src="~/assets/js/pages/form-validation.init.js"></script>
    <script src="~/assets/js/app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.0.2/cleave.min.js"></script>
    <script src="~/js/InputMasked.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cleave.js/1.6.0/cleave.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/cleave.js@1.6.0/dist/cleave.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/5.0.6/inputmask.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/5.0.6/inputmask.extensions.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/5.0.6/inputmask.numeric.extensions.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.maskedinput/1.4.1/jquery.maskedinput.min.js"></script>


    <script>
        $(document).ready(function () {
            var preco = parseFloat($("#formatandoDinheiro1").val().replace(",", "."));
            $("#formatandoDinheiro1").val(preco.toLocaleString("pt-BR", { minimumFractionDigits: 2 }));
        });
    </script>

    <script>
        $(document).ready(function () {
            var preco = parseFloat($("#formatandoDinheiro2").val().replace(",", "."));
            $("#formatandoDinheiro2").val(preco.toLocaleString("pt-BR", { minimumFractionDigits: 2 }));
        });
    </script>


    <script>
        $(document).ready(function () {
            $("#campoPorcentagem").inputmask({
                mask: "99.99%",
                greedy: false,
                definitions: {
                    '%': {
                        validator: "%"
                    }
                }
            });
        });
    </script>

    @*Não deixa digitar numeros *@
    <script>
        if (document.querySelector("#cleave-nome")) {
            var input = document.querySelector("#cleave-nome");
            input.addEventListener("keydown", function (event) {
                if (event.key >= "0" && event.key <= "9") {
                    event.preventDefault();
                }
            });
        }
    </script>

    @*Calculando preço*@
    <script>
        $(function () {
            //$('#cleave-dinheiro1').ready(function () {
            $('#cleave-dinheiro1').blur(function () {
                var custo = $(this).val();

                $('#cleave-porcentagem').on('input', function () {

                    var porcentagem = $(this).val();

                    if (porcentagem != "" && custo != "R$ ") {

                        let custoPuro = parseFloat(custo.replace("R$", "").replace(",", "."));

                        let preco = (parseFloat(porcentagem.replace("%", "").replace(",", ".")) * custoPuro) / 100;

                        let valorFinal = (preco + custoPuro).toFixed(2);

                        $("#cleave-dinheiro").val(`R$ ${valorFinal}`);
                    }
                });


                $('#cleave-dinheiro').on('input', function () {
                    var preco = $(this).val();

                    if (preco != "R$ " && custo != "R$ ") {

                        let precoPuro = parseFloat(preco.replace("R$", "").replace(",", "."));
                        let custoPuro = parseFloat(custo.replace("R$", "").replace(",", "."));

                        let porcentagem = (precoPuro * 100) / custoPuro;
                        let valorPorcentagem = porcentagem.toFixed(2);

                        $("#cleave-porcentagem").val(`${porcentagem - 100}%`);

                    }
                });

            });
        });
    </script>

    @*Remover o simbolo de R$  e % no momento do input*@
    <script>
        function removerSimboloR$Porcentagem() {


            console.log("essa merda");

            var input = document.getElementById("formatandoDinheiro1");
            var valorSemSimbolo = input.value.replace(/R\$|\,/g, "").trim();
            input.value = valorSemSimbolo;

            var input1 = document.getElementById("formatandoDinheiro2");
            var valorSemSimbolo = input1.value.replace(/R\$|\,/g, "").trim();
            input1.value = valorSemSimbolo;

            //var input2 = document.getElementById("cleave-porcentagem");
            //var valorSemSimbolo = input2.value.replace("%", "").trim();
            //input2.value = valorSemSimbolo;

        }
    </script>

    @*Verifcação de Codigo de Barras*@
    <script>
        $(function () {
            $('#verificacaoCodigoBarras').blur(function () {
                var codigoBarras = $(this).val();
                $.ajax({
                    url: '@Url.Action("VerificacaoExistenciaCodigoBarras", "Cadastros")',
                    type: 'POST',
                    data: { _codigoBarras: codigoBarras },
                    success: function (result) {
                        if (result == false) {

                            $('#verificacaoCodigoBarrasMensagem').hide();

                            console.log("barras1")

                        } else {
                            console.log("barras2")

                            $('#verificacaoCodigoBarrasMensagem').show();
                            $('#verificacaoCodigoBarras').focus();
                        }
                    }
                });
            });
        });
    </script>

    @*Verifcação de Codigo de Produto*@
    <script>
        $(function () {
            $('#verificacaoCodigoProduto').blur(function () {
                var codigoProduto = $(this).val();
                $.ajax({
                    url: '@Url.Action("VerificacaoExistenciaCodigoProduto", "Cadastros")',
                    type: 'POST',
                    data: { _codigoProduto: codigoProduto },
                    success: function (result) {
                        if (result == false) {

                            $('#verificacaoCodigoProdutoMensagem').hide();

                        } else {

                            $('#verificacaoCodigoProdutoMensagem').show();
                            $('#verificacaoCodigoProduto').focus();
                        }
                    }
                });
            });
        });
    </script>

    }
